.pagination {
  display: flex;
  align-items: center;
  gap: 16px;
}
.pagination span {
  text-align: center;
  border-radius: 4px;
  border: 1px solid black;
  background: #dddddd;
  padding: 24px;
}
