.product {
  transition: all 0.3s;
  cursor: pointer;
}

.product .card .card-img {
  display: grid;
  place-items: center;
}
.product .card .card-img img {
  width: 80%;
  object-fit: cover;
  transition: all 0.3s;
}

.product .card .card-img:hover img {
  transform: translateY(-4px);
}
