* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.product-list {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.product {
  padding: 24px;
  text-align: center;
  background: #ececec;
  border-radius: 10px;
  width: 240px;
}

/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  background: #ececec;
  margin-bottom: 40px;
}

header .logo img {
  width: 110px;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
}
